/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
  --colorletra: #5b5757;
  --colortitutlo: #161212;
  --primercolor: #da2535;
  --subprimercolor: #c42130;

  --sizeh1: 2.5rem;
  --sizeh2: 1.25rem;
  --sizeh3: 1.125rem;
  --sizeh4: 1.25rem;
  --normal: 0.938rem;
  --pequeño: 0.813rem;
}
.tmn-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: auto;
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-bottom: 30px;
}
.card-footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 30px;
}
.card-footer h1 {
  font-size: 17px;
}
.card-footer p {
  padding: 10px 0;
  /* white-space: nowrap; */
}
.card-footer p i {
  width: 30px;
}
.title {
  text-align: center;
  font-size: var(--sizeh1);
  font-weight: 700;
  margin: 20px 0;
}
.content img {
  max-width: 70%;
}
.content .img {
  border-radius: 1rem;
  position: relative;
  border: 1px solid #ddd;
  background: #f9f9f9;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.img i {
  padding: 1rem;
  border-radius: 1rem 0 1rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--subprimercolor);
  color: #fff;
}
/* .img h3,
.img h4,
.img span {
  padding-left: 25px;
} */
.botonToggle {
  margin-left: 15px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  position: relative;
  /* border: 1px solid #ddd; */
  height: 4rem;
  display: flex;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  height: 60px;
  background: #fff;
}
.link {
  display: flex;
}
.nav .logo {
  text-decoration: none;
  color: var(--colortitutlo);

  font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu li {
  list-style: none;
  margin-left: 2.5rem;
  position: relative;
  right: -50px;
  visibility: hidden;
  transition: 0.5s ease;
  transform-origin: 100%;
  opacity: 0;

  transition-delay: calc(0.3s * var(--i));
}
.nav-menu li.active {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.nav-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.banner {
  display: flex;
  height: 100vh;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.btn {
  color: #fff;
  background: red;
  margin-top: 15px;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 600;
}
.banner__img {
  order: 1;
}
.next {
  order: 0;
}
.banner__img img {
  max-width: 100%;
}
.banner__dato {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__dato h1 {
  margin-bottom: 15px;
  font-size: var(--sizeh1);
  font-weight: 700;
}
@media (max-width: 650px) {
  .link {
    display: flex;
    position: absolute;
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .banner {
    flex-direction: column;
    /* height: 100%; */
  }
  .banner__img {
    order: 0;
    text-align: center;
  }
  .banner__img img {
    max-width: 75%;
  }
  .banner__dato h1 {
    font-size: 1.5rem;
  }
  .nav {
    padding: 0 15px;
  }
  .nav-menu li {
    top: -50px;
    border: 1px solid #ddd;
    background: #fff;
    width: 80%;
    margin: 5px 10%;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
  }
  .nav-menu li a {
    color: var(--colortitutlo);
  }

  .nav-menu li:hover a {
    color: var(--subprimercolor);
  }
  .nav-menu li.active {
    top: 0;
    text-align: center;
  }
  .next {
    order: 1;
  }
  .sgt {
    text-align: center;
  }
}
